.body {
    background-color: #4d8bc8;
    padding: 20px;
}
.calc{
    background-color: #ebf5ff;
    margin: auto;
    margin-bottom: auto;
    padding: 14px;
    border-radius: 30px;
}
.display
{
    background-color: #cbe5fe;
    border-radius: 20px;
    padding: 5px;
    height: 60px;
    margin-top: 10px;
}

#input
{
    color: #47729f;
    text-align: left;
    padding: 5px;
    font-size: 14px;
    background-color: transparent;
    border: none;
}
#input:focus{
    outline:none;
}
#output
{
    color: black;
    padding-right: 5px;
    text-align: right;
}
.grid-container
{
    display: grid;
    gap: 10px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: #4c80ba;
    padding-bottom: 20px;
    padding-top: 15px;
}
.grid-container:hover
{
    cursor: pointer;
}
.grid-container > div {
    color: #4c80ba;
    background-color: #a4cff9;
    text-align: center;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#enter{
    background-color: #4d8bc8;
    color: white;
    grid-column: span 2;
}
#f,#g,#h,#k,#l,#m,#p,#q,#r,#v
{
    background-color: #cbe5fe;
    color: navy;
}
#a,#b,#c,#d,#e
{
    padding-top: 5px;
    padding-bottom: 5px;
}
#c,#d,#e
{
    font-size: 12px;
}